version: '3.8'
services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile 
    container_name: airbnb-backend
    restart: always
    ports:
      - "8080:8080" 
    volumes:
      - /etc/localtime:/etc/localtime:ro

  frontend:
    image: nginx:stable-alpine
    container_name: airbnb-frontend
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./frontend/build:/usr/share/nginx/html:ro 
    depends_on:
      - backend 
